# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Datasets
*.zip
datasets/
data/

# Large ML files
*.h5
*.keras
*.pt
*.pth

# Environment files
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Build
dist/
build/

# Backups
model_backups/
# Objective 2 - TCIR large dataset files
backend/ml/intensity/dataset/*.h5
backend/ml/intensity/dataset/*.hdf5
backend/ml/intensity/dataset/*.tar
backend/ml/intensity/dataset/*.tar.gz
backend/ml/intensity/dataset/*.npz